@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css');

* {
    box-sizing: border-box;
}

body {
    background: #1b1e23;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#navbar-brand {
    width: 50px;
   
}
.nav-link {
    font-size: 15px;
    font-weight: bold;
}
.modal-body {
    color: #000;
}

div.modal-header {
    background: #0B5ED7;
}

.btn-secondary:hover {
    background: #990100;
}

.title{
    margin-top: 10px;
    font-size: 30px;
    text-decoration-line: underline overline;
}

.container {
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    flex-direction: row;


}

ul.lista-produtos {
    display: flex;
    list-style: none;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
}


.lista-produtos li {
    font-size: medium;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: #272C33;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 20px 1px #202020;
    order: initial;

}

.lista-produtos:hover li:hover {
    background-color: #323841;
    box-shadow: 1px 2px 20px 1px #494949;

}

.lista-produtos img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.produto-1 h2,
.produto-2 h2,
.produto-3 h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #990100;
    text-decoration: underline;

}

.produto-1 p,
.produto-2 p,
.produto-3 p {
    margin-bottom: 50px;
}

.price-box {
    margin-top: 10px;
}

.price {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.button-sales {
    display: grid;
}


.button-details {
    color: #fff;
    background: #0B5ED7;
    border-radius: 5px;
    border-color: #0B5ED7;
    align-items: center;
    margin-top: 100px;
}
