* {
    box-sizing: border-box;
}

body {
    background: #1b1e23;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.modal-body{
    color: #000;
}
div.modal-header{
    background: rgb(169,168,209);
    background: linear-gradient(90deg, rgba(169,168,209,1) 0%, rgba(104,104,117,1) 43%, rgba(34,34,34,1) 100%);}

#navbar-brand {
    width: 40px;
}

.container {
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    flex-direction: row;


}

ul.lista-produtos {
    display: flex;
    list-style: none;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
}


.lista-produtos li {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: #272C33;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 20px 1px #202020;

}

.lista-produtos:hover li:hover {
    background-color: #323841;
    cursor: pointer;
    box-shadow: 1px 2px 20px 1px #494949;

}

.lista-produtos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.produto-1 h2,
.produto-2 h2,
.produto-3 h2 {
    margin-top: 10px;
}

.produto-1 p,
.produto-2 p,
.produto-3 p {
    margin-bottom: 50px;
}

.price-box {
    margin-top: 10px;
}

.price {
    font-weight: bold;
    color: #8797B0;
    font-size: large;
}